.hidden {
    display: none;
}

* {
    background-color: lightslategray;
}
.main-heading {
    color: lightcoral; 
    cursor: pointer;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
}

#svg-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.container img {
    cursor: pointer;
    width: 50%;
    height: 50%;
}